.html {
  scroll-behavior: smooth;
}

.page {
  font-size: 14px;
}

.page__inner {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.logo {
  background-color: #fa5c65;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading {
  font-family: "Motserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.button {
  font-family: "Open Sans", sans-serif;
  background-color: #fa5c65;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-attachment: blue;
}

.btn {
  background: none;
  border: none;
  color: #fa5c65;
  font-family: "Motserrat", sans-serif;
  text-transform: uppercase;
  width: 60px;
  padding: 0px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  color: #314a5b;
}

.btn::after {
  content: '\2192';
}

.anchor {
  text-decoration: none;
}

.text-with-dot::after {
  content: ".";
  color: #fa5c65;
}

.description-text {
  font-family: "Open Sans", sans-serif;
  color: #9aa0ab;
}

/* Media */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .page__inner {
    width: 95%;
  }
}
.head {
  min-height: 100vh;
  position: relative;
}
.head_theme_man {
  background: url("../img/background-man.jpg") no-repeat;
  background-size: cover;
}
.head__motto-block {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.head__motto-block-button {
  color: white;
  font-weight: 700;
  padding: 5px;
  width: 160px;
  height: 50px;
  margin-top: 25px;
  text-transform: uppercase;
}

.motto-block__heading {
  font-size: 2.5rem;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Motserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #314a5b;
}
.motto-block__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #314a5b;
}

/*Media*/
@media screen and (max-width: 768px) {
  .motto-block__heading {
    font-size: 2rem;
  }

  .head__motto-block-button {
    height: 30px;
    width: 120px;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Logo*/
}
.header__logo {
  margin: 0;
}
.header__logo-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 20px;
  height: 5vh;
  width: 120px;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  font-family: Domine, sans-serif;
}

/*havigation*/
.nav {
  width: 50%;
  min-width: 350px;
}
.nav__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list-item {
  padding: 5px;
}
.nav__link-text {
  position: relative;
  color: #263742;
  font-family: "Motserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.nav__link-text:after {
  content: "";
  width: 0;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #314a5b;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.nav__link-text:hover {
  color: #fa5c65;
}
.nav__link-text:hover:after {
  color: #fa5c65;
  -webkit-transition: 0.07s;
  transition: 0.07s;
  border-bottom: 100% solid red;
  width: 100%;
}
.nav__img {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.nav__img_social_1 {
  background: url(../img/header-ico-1.png) no-repeat;
  width: 18px;
  height: 18px;
  background-position: center;
}
.nav__img_social_2 {
  background: url(../img/header-ico-2.png) no-repeat;
  width: 18px;
  height: 18px;
  background-position: center;
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.burger_state {
  display: none;
}
.burger__line, .burger__line::before, .burger__line::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -2px;
  background-color: #263742;
  height: 4px;
  width: 22px;
  border-radius: 3px;
}
.burger__line::before, .burger__line::after {
  content: "";
}
.burger__line::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}
.burger__line::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

/*Media*/
@media screen and (max-width: 650px) {
  .nav_state {
    display: none;
  }

  .burger_state {
    display: block;
  }
}
.content__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*Snippets*/
.content__snippets {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.snippets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.snippets__heading {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.snippets__box {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 500px) {
  .snippets {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .snippets__box {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
/*Portfolio*/
.portfolio {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__img-container {
  height: 400px;
  width: 40%;
  min-width: 400px;
}
.portfolio__img-container_theme_laptop {
  background: url("../img/MacBook.jpg") no-repeat;
  background-position: left;
}
.portfolio__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 5%;
}
@media screen and (max-width: 950px) {
  .portfolio__img-container {
    min-width: 300px;
  }
  .portfolio__img-container_theme_laptop {
    background-size: 300px;
  }
  .portfolio__box {
    margin-right: 0px;
  }
}
.portfolio__heading {
  font-size: 1.9rem;
}
.portfolio__text {
  font-family: "Open Sans", sans-serif;
  color: #314a5b;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__img-container {
    display: none;
  }
  .portfolio__box {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

/*Team*/
.team {
  margin: 20px 0 40px 0;
}
.team__heading {
  font-size: 2rem;
}
.team__workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team__worker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 230px;
  margin-top: 20px;
}
.team__worker-img {
  min-width: 110px;
  min-height: 110px;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .team__workers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__worker {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .team__heading {
    text-align: center;
  }
  .team__motto {
    display: block;
    text-align: center;
  }
}
.team__worker-name {
  font-size: 1.2rem;
  color: #314a5b;
}
.team__worker-job {
  color: #9aa0ab;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.team__worker-info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team__description {
  margin: 5px 0 5px 0;
}
.team__btn {
  float: right;
  right: 6px;
  bottom: 0px;
}

.footer {
  height: 1px;
  min-height: 10vh;
}

.footer__container {
  border-top: 1px solid #e6eaed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 120px;
  width: 15%;
}

.footer__copyrights {
  color: #b9c0c6;
  font-family: "Open Sans", sans-serif;
}

.list__social-ico-container {
  display: block;
  width: 20px;
  height: 20px;
}

.list__social-ico-container_ico_1 {
  background: url(../img/footer-ico1.png) no-repeat;
  background-position: center;
}

.list__social-ico-container_ico_2 {
  background: url(../img/footer-ico2.png) no-repeat;
  background-position: center;
}

.list__social-ico-container_ico_3 {
  background: url(../img/footer-ico3.png) no-repeat;
  background-position: center;
}

.list__social-ico-container_ico_4 {
  background: url(../img/footer-ico4.png) no-repeat;
  background-position: center;
}

@media screen and (max-width: 550px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__copyrights {
    margin-bottom: 10px;
  }
}
