.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Logo*/

.header__logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 120px;
    min-height: 20px;
    height: 5vh;
    padding: 10px;
}

.header__logo-text {
    font-size: 1.2rem;
    color: white;
    font-family: Domine, sans-serif;
}

/*havigation*/

.header__navigation {
    width: 50%;
    min-width: 350px;
}

.list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header__list {
    align-items: center;
}

.header__item {
    padding: 5px;
}

.header__item-text{
    text-align: center;
}

.header__link {
    color: #263742;
    @include heading;
}

/*Media*/

@media screen and (max-width: 620px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header__navigation {
        min-width: 300px;
    }
    .header__item {
        padding: 2px;
    }
}
