.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    /*Logo*/

    &__logo {
        margin: 0;
    }

    &__logo-anchor {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 20px;
        height: 5vh;
        width: 120px;
        padding: 10px;
        font-size: 1.2rem;
        color: white;
        font-family: Domine, sans-serif;
    }
}

/*havigation*/

.nav {
    width: 50%;
    min-width: 350px;

    &__list {
        align-items: center;
        justify-content: space-between;
    }

    &__list-item {
        padding: 5px;
    }

    &__link-text {
        position: relative;
        color: #263742;
        @include heading;
    }

    &__link-text:after {
        content: "";
        width: 0;
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $heading-color;
        transition: 0.5s ease-in;
        transform: translateX(-50%);
    }

    &__link-text:hover {
        color: $color-1;
    }

    &__link-text:hover:after{
        color: $color-1;
        transition: 0.07s;
        border-bottom: 100% solid red;
        width: 100%;
    }

    &__img {
        display: inline-block;
        height: 20px;
        width: 20px;
    }

    @for $i from 1 through 2 {
        &__img_social_#{$i} {
            background: url(../img/header-ico-#{$i}.png) no-repeat;
            width: 18px;
            height: 18px;
            background-position: center;
        }
    }
}

.burger {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;

    &_state {
        display: none;
    }

    &__line,
    &__line::before,
    &__line::after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top: -2px;
        background-color: #263742;
        height: 4px;
        width: 22px;
        border-radius: 3px;
    }

    &__line::before,
    &__line::after {
        content: "";
    }

    &__line::before {
        transform: translateY(-7px);
    }

    &__line::after {
        transform: translateY(7px);
    }

    
}

/*Media*/

@media screen and (max-width: 650px) {
    .nav_state {
        display: none;
    }
    .burger_state {
        display: block;
    }
}
