$color-1: #fa5c65;
$heading-color: #314a5b;
$description-color: #9aa0ab;

$font-family-1: "Motserrat",sans-serif;
$font-family-2: "Open Sans", sans-serif;

@mixin text {
    font-family: $font-family-1;
    text-transform: uppercase;
}

@mixin heading {
    @include text;
    font-weight: 700;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.html {
    scroll-behavior: smooth;
}

.page {
    font-size: 14px;
}

.page__inner {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.logo {
    background-color: $color-1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.list {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 10px;
}

.box {
    display: flex;
    flex-direction: column;
}

.heading {
    @include heading;
    margin-bottom: 5px;
}

.button {
    font-family: $font-family-2;
    background-color: $color-1;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;
}

.button:hover {
    transform: scale(1.1);
    background-attachment: blue;
}


.btn {
    background: none;
    border: none;
    color: $color-1;
    @include text;
    width: 60px;
    padding: 0px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    color: $heading-color;
}

.btn::after {
    content: '\2192';
}

.anchor {
    text-decoration: none;
}

.text-with-dot::after {
    content: ".";
    color: $color-1;
}

.description-text {
    font-family: $font-family-2;
    color: $description-color;
}

/* Media */

@media screen and (max-width: 768px) {
    html {
        font-size:14px;
    }
}

@media screen and (max-width: 500px){
    .page__inner {
        width: 95%;
    }
}