.content__container {
    min-height: 100vh;
    @include flex-column;
    justify-content: space-around;
}

/*Snippets*/

.content__snippets {
    justify-content: space-between;
}

.snippets {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;

    &__heading {
        font-size: 1.5rem;
        @include flex-column;
    }

    &__box {
        flex-basis: 25%;
        min-height: 200px;
        @include flex-column;    
    }
}

@media screen and (max-width:500px) {
    .snippets {
        justify-content: center;
    
        &__box {
            flex-basis: 70%;
        }
    }   
}

/*Portfolio*/

.portfolio {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    &__img-container{
        height: 400px;
        width: 40%;
        min-width: 400px;
    }

    &__img-container_theme_laptop {
        background: url("../img/MacBook.jpg") no-repeat;
        background-position: left;
    }

    &__box {
        @include flex-column;
        flex-basis: 40%;
        margin-right: 5%;
    }

    @media screen and (max-width: 950px) {
        &__img-container {
            min-width: 300px;
        }
        &__img-container_theme_laptop {
            background-size: 300px;
        }
        &__box {
            margin-right: 0px;
        }
    }

    &__heading {
        font-size: 1.9rem;
    }

    &__text {
        font-family: $font-family-2;
        color: $heading-color;
        font-size: 1rem;
    }

    @media screen and (max-width: 768px) {
        & {
            justify-content: center;
        }
        &__img-container {
            display: none;
        }
        &__box {
            flex-basis: 70%;
        }
    }
 
}

/*Team*/

.team {
    margin: 20px 0 40px 0;

    &__heading {
        font-size: 2rem;
    }

    &__workers {
        display: flex;
        justify-content: space-between;
        margin: 30px 0 30px 0;
        flex-wrap: wrap;
    }

    &__worker {
        display: flex;
        flex-basis: 30%;
        min-width: 230px;
        margin-top: 20px;
    }

    &__worker-img {
        min-width: 110px;
        min-height: 110px;
        margin-right: 5px;
    }

    @media screen and (max-width: 768px){
        &__workers {
            justify-content: center;
        }
        &__worker {
            flex-basis: 70%;
        }
        &__heading {
            text-align: center;
        }
        &__motto {
            display: block;
            text-align: center;
        }
    }

    &__worker-name {
        font-size: 1.2rem;
        color: $heading-color;
    }

    &__worker-job {
        color: $description-color;
        font-family: $font-family-2;
        font-weight: 700;
    }

    &__worker-info {
        justify-content: center;
        @include flex-column;
    }

    &__description {
        margin: 5px 0 5px 0; 
    }

    &__btn {
        float: right;
        right: 6px;
        bottom: 0px;    
    }
}
